/* CSS Document */

@media(min-width: 992px) {
    /*.tab{width: 50% ;}*/
}
.container-custom{
}
.menu-mobile,
.menu-mobile2{
  display: none;
}
@media (min-width: 768px) and (max-width: 992px) {
  .container-custom{
    width: 768px;
  }
  .menu-mobile{
    display: none;
  }

/*Home*/
.navigation-home ul li.main-nav{
  margin-right:0px;
}

/*SOLUTION*/
.text-top-home h3{
  font-size: 23px;
}
.img-why-choose{
  left: -29%;
}
.ic-why-choose ul li{
  width: 45%;
}

/*DEMO*/
.text-case h2{
  font-size: 40px;
}
.view-more .btn-readmore{
  padding: 10px 35px;
}

/*FOOTER*/
.add-ft p{
  font-size: 12px;
}

/*SIGNUP*/
#demoregistration .modal-body{
  padding: 15px 15px 0px 15px;
}
}
@media (min-width: 320px) and (max-width: 768px) {
    /*NAV BAR*/
    .open>.dropdown-menu {
    display: block !important;
  }
  .navbar-nav>li>.dropdown-menu{
    position: static;
    float: none;
    width: auto;
    margin-top: 0;
    background-color: transparent;
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    display: block !important;
  }
.dropdown-menu>li>a{
      color: #6f6f6f;
}

    .container{
      width: 100%;
    }
    .top-search{
      padding:0px;
    }
    .nav-home,
    .top-link-back{
      display: none;
    }
    .menu-mobile,
    .menu-mobile2{
      display: block;
    }
    .ft-mobile{
      display: block;
      background-color: #950700;
      height: 80px;
    }
.menu-mobile  .navbar-logo-mobile{
    background: url('../images/logo-mobile.png') no-repeat 0 0;
    width: 213px;
    height: 50px;
    display: block;
    margin: 12px 0px 0px 21px;
  }
  .menu-mobile2  .navbar-logo-mobile{
      background: url('../images/logo-mobile-black.png') no-repeat 0 0;
      width: 213px;
      height: 50px;
      display: block;
      margin: 12px 0px 0px 21px;
    }
  .navbar-header-mobile{
    padding: 15px 2px;
  }
.menu-mobile .navbar-inverse{
  background-color: #010101;
}
.menu-mobile2 .navbar-inverse{
  background-color: #fff;
box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.16),0px 2px 5px 0px rgba(0, 0, 0, 0.26);
border: inherit;
}
.menu-mobile2  .navbar-inverse .navbar-toggle .icon-bar{
      background-color: #777;
}
    .sitefooter{
    }
    .top-link-back .ic-topbar a{
      background: url('../images/ic-back.png') no-repeat 0 0;
      display: block;
      height: 20px;
      width: 20px;
    }
    .add-ft{
          padding-top: 20px;
    }
    .top-link-back .ic-topbar a img{
      display: none;
    }

/* INDEX open*/
.text-top-home h3{
  letter-spacing: 5px;
  line-height: 35px;
  font-size: 25px;
  text-align: center;
  margin-top: 64px;
}
.btn-bg-home .register-now{
  padding: 10px 19px;
  font-size: 12px;
  display: block;
  text-align: center;

}
.btn-bg-home .view-video{
  font-size: 12px;
  display: block;
  text-align: center;
  margin-top: 20px;
}
.img-top-home{
  margin-top:50px;
  display: block;
text-align: center;
margin: 17px 0px 0px 0px;
}
.img-top-home img{
  width: 100%;
}
.cd-timeline-img{
  left: 0;
  margin-left: 0px;
}
.cd-timeline-content .title-network{
  text-align: inherit;
}
.cd-timeline-block:nth-child(even) .cd-timeline-content{
  float: right;
  padding-top: 0px;
}
#cd-timeline::before{
  left: 20%;
  margin-left: -2px;
  height: 72%;
}
.cd-timeline-content{
  width: 65%;
  padding-top:0px;
  padding-right: 0px;
}
.cd-timeline-img{
  width: 100px;
  height: 100px;
}
.cd-timeline-img img{
  left: 23px;
  top: 23px;
}
.cd-timeline-block{
  margin-bottom: 55px;
  margin-top: 19px;
}
.box-about-us{
  background-color: #d11e27;
  background-image: inherit;
}
.last-child h2{
  color:#fff;
}
.last-child h2{
  padding: 0px 15px 0px 0px;
}
.in-box-customer .in-customer h3, .box-news .title-news{
  margin:10px;
}
.timeline{
  padding-top:25px;
  padding-bottom: 25px;
}
.box-sidebar-right{
  z-index: 999;
  height: 148px;
  top: 34%;
  right: -13px;
  opacity: 0.8;
}
.in-box-customer{
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 65px;
}
.cd-timeline-content h2{
  font-size: 14px;
}
.box-customer{
  height: 391px;
}
/* INDEX close*/

/*SOLUTION open*/
.img-why-choose{
  left: 0;
  top: 10%;
  position: inherit;
  padding: 10px 0px 0px 0px;
}
.why-choose{
  padding:20px 0px;
}
.img-why-choose img{
  width: 100%;
}
.ic-why-choose{
  position: inherit;
right: 0;
margin-top: 0px;
}
.ic-why-choose ul li{
  width: 100%;
}
.item-difference .item-dif{
  margin: 0 auto;
}
.item-difference, .item-difference:hover{
  padding:0px 10px;
}
.item-difference .xuly{
    background: url('../images/sprites.png') no-repeat -985px 36px;
}
.item-difference .tuvan{
    background: url('../images/sprites.png') no-repeat -821px 36px;
}
.item-difference .dichvu{
    background: url('../images/sprites.png') no-repeat -656px 36px;
}
.item-difference .quanly{
    background: url('../images/sprites.png') no-repeat -500px 36px;
}
.item-difference .canhbao{
  background: url('../images/sprites.png') no-repeat -331px 36px;
}
.item-difference .baoquat{
  background: url('../images/sprites.png') no-repeat -165px 36px;
}
.item-difference .congnghe{
  background: url('../images/sprites.png') no-repeat -3px 36px;
}
.in-all-step .for-step{
  padding:0px;
}
.text-sb-enterprise{
  padding: 29px 0px 0px 0px;
}
.text-sb-enterprise ul li p{
  font-size: 16px;
}
.box-difference{
  height: auto;
}
/*SOLUTION close*/

/*NEWS & BLOG open*/
.short-desc-news{
  padding:0px 15px;
}
.item-list-news .img-list-news img{
  width: 100% !important;
  height: auto !important;
}
.item-list-news .img-list-news{
  width: inherit;
}
.box-news {
  margin-top: 50px;
}
.box-news ul li{
  float: left;
}
.list-news .item-list-news{
      padding: 0px;
}
/*NEWS & BLOG close*/

/*DETAIL open*/
.text-detail{
  padding-left: 20px;
  padding-right: 20px;
  overflow: hidden;
}
.ic-social .fa-youtube-play{
  font-size: 20px;
}
.box-sidebar-right ul li{
  padding: 5px 23px 5px 6px;
}
.detail-news{
  padding-top: 73px;
}
.text-detail img{
  width: 100% !important;
  height: auto !important;
}
.content-detail,
.top-right-topic{
  padding: 0px;
}
.hot-news ul li:nth-child(n+1){
  padding: 0px 10px;
  background-color: inherit;
}
.hot-news{
  margin-top:25px;
}
.box-news-detail h3{
  line-height: 31px;
  font-size: 21px;
}
.box-news-detail{
  padding-top: 28%;
  padding-left: 20px;
  padding-right: 20px;
}
/*DETAIL close*/

/* CASE open*/
.text-case{
  text-align: left;
margin-top: 600px;
  height: auto;
}
.text-case h2{
  margin-left: 0px;
  margin-top:0px;
  padding-top: 0px;
}
.view-more .btn-readmore{
  margin-top:22px;
}
.view-more{
  margin-left: 0px;
}
/* CASE close*/

/**** MODAL VIDEO open****/
#videoModal iframe{
  width: 100%;
  height: auto;
}
#videoModal .modal-dialog{
  margin-top:100px;
}
/**** MODAL VIDEO close****/

/****MODAL REGITEr open****/
.form-control, .input-popup button{
  display: block;
  width: 100%;
  margin-top: 15px;
}
.modal-body {
    background: none !important;
  }
#demoregistration .modal-dialog,
#thankyou .modal-dialog{
  width: 93%;
  margin: 10px auto;
}
#demoregistration	.form-control{
  width: 100%;
}
#demoregistration .input-popup .btn-primary{
  margin: 20px auto;
}
#thankyou .para-thank{
  padding: 0px;
}
#MyDiv2,
#MyDiv{
  width: 40px;
  overflow: hidden;
  right: 2%;
}
/****MODAL REGITEr close****/

/**** PROGRESSAR open ***/
.progressbar li{
    width: 37%;
    padding: 12px 0px;
    border-radius: 50px;
    margin: 17px 10px;
    border: inherit;
}
.progressbar li:after{
  content: inherit;
  width: inherit;
  height: inherit;
}
/**** PROGRESSAR close ***/

}
@media only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (min-device-pixel-ratio: 2),
screen and (-webkit-device-pixel-ratio: 1.5) {
    .in-box-footer .ft-logo a.logo-ft {
        background: url('../images/logo-footer@2x.png') no-repeat center center;
        background-size: 80px 68px;
        width: 160px;
        display: block;
        height: 96px;
        margin-top: 0;
    }
    .menu-mobile  .navbar-logo-mobile{
      background: url('../images/logo-mobile@2x.png') no-repeat center 5px;
      background-size:180px 43px;
      width: 180px;
      height: 43px;
      display: block;
    }
    input[type=search]{
      background: url('../images/ic-search@2x.png') no-repeat center 5px;
      background-size:20px 20px;
      width: 40px;
      height: 40px;
      display: block;
    }
    .menu-mobile2  .navbar-logo-mobile{
      background: url('../images/logo-mobile-white@2x.png') no-repeat center 5px;
      background-size:180px 43px;
      width: 180px;
      height: 43px;
      display: block;
    }
    .ic-topbar .logo-trend img{
      display: none;
    }
    .back-link .link-vnplus {
      background: url('../images/logo-vietnamplus@2x.png') no-repeat center 27px;
      background-size: 147px 17px;
      width: 294px;
      display: block;
      height: 68px;
    }

}
